# Azure Subscription Variables
SUBSCRIPTION_ID = ''
LOCATION = ''
TENANT_ID = ''
BASE_NAME = ''
SP_APP_ID = ''
SP_APP_SECRET = ''
RESOURCE_GROUP = 'mlops-RG'

# Mock build/release ID for local testing
BUILD_BUILDID = '001'

# Azure ML Workspace Variables
WORKSPACE_NAME = 'mlops-aml-ws'
EXPERIMENT_NAME = 'mlopspython_empty'

# AML Compute Cluster Config
AML_ENV_NAME='training_env'
AML_ENV_TRAIN_CONDA_DEP_FILE="conda_dependencies.yml"
AML_COMPUTE_CLUSTER_NAME = 'train-cluster'
AML_COMPUTE_CLUSTER_CPU_SKU = 'STANDARD_DS2_V2'
AML_CLUSTER_MAX_NODES = '4'
AML_CLUSTER_MIN_NODES = '0'
AML_CLUSTER_PRIORITY = 'lowpriority'
# Training Config
MODEL_NAME = 'model.pkl'
MODEL_VERSION = '1'
TRAIN_SCRIPT_PATH = 'training/train_aml.py'


# AML Pipeline Config
TRAINING_PIPELINE_NAME = 'Training-Pipeline'
MODEL_PATH = ''
DATASET_VERSION = 'latest'
DATASET_NAME = 'diabetes_ds'
# Optional. Set it if you have configured non default datastore to point to your data
DATASTORE_NAME = ''
SOURCES_DIR_TRAIN = 'ml_model'


# Optional. Container Image name for image creation
IMAGE_NAME = 'mltrained'

# Run Evaluation Step in AML pipeline
RUN_EVALUATION = 'true'

# Set to true cancels the Azure ML pipeline run when evaluation criteria are not met.
ALLOW_RUN_CANCEL = 'true'

# Flag to allow rebuilding the AML Environment after it was built for the first time. This enables dependency updates from conda_dependencies.yaml.
AML_REBUILD_ENVIRONMENT = 'false'

